<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--==============================事务配置===========================-->
    <!--================================================================-->

    <!-- 引入属性文件 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:config.properties"/>
    </bean>

    <!-- 定义使用C3P0连接池的数据源 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${hibernate.driverClass}"/>
        <property name="jdbcUrl" value="${hibernate.url}"/>
        <property name="user" value="${hibernate.username}"/>
        <property name="password" value="${hibernate.password}"/>
    </bean>

    <!-- 定义SessionFactory-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>                  <!--显示SQL语句-->
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>            <!--是否自动创建数据库表-->
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>                <!--格式化sql语句-->
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>

            </props>
        </property>
        <!-- 注解方式配置持久化类 -->
        <property name="packagesToScan">
            <list>
                <value>com.iflytek.operation.entity.**</value>
            </list>
        </property>
    </bean>

    <!--配置事务管理器,SessionFactory转交Spring管理-->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- 注解方式配置事务 -->
    <tx:annotation-driven/>

    <!--=============================依赖注入===============================-->
    <!--===================================================================-->
    <!-- 自动扫描dao\service包(自动注入) -->
    <context:component-scan base-package="com.iflytek.operation.dao"/>
    <context:component-scan base-package="com.iflytek.operation.service"/>


    <!--=============================导入第三方==============================-->
    <!--===================================================================-->
    <import resource="shiro-config.xml"/>

</beans>